In [1]:
print("Hi data anlytics world")

Hi data anlytics world

In [2]:
name = "Medha"
marks = 89

print(name)
print(marks)

Medha
89

In [3]:
age = 20
height = 5.1
city = "Pune"
passed = True

print(type(age))
print(type(height))
print(type(city))
print(type(passed))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
name = "Medha"
marks = 85
city = "Pune"

print(name)
print(marks)
print(city)

Medha
85
Pune

In [6]:
name = input("Enter your name: ")
print("Hello",name)

Enter your name:  Pratima

Hello Pratima

In [8]:
marks = int(input("Enter your marks: "))
print("Your marks are: ",marks)

Enter your marks:  99

Your marks are:  99

In [12]:
a = 10
b = 4

print(a + b)
print(a / b)
print(a - b)
print(a * b)
print(a % b)

14
2.5
6
40
2

In [13]:
marks1 = int(input("Enter marks1: "))
marks2 = int(input("Enter marks2: "))

total = marks1 + marks2
average = total / 2

print("Total marks are: ",total)
print("Average maks are: ",average)

Enter marks1:  20
Enter marks2:  19

Total marks are:  39
Average maks are:  19.5

In [14]:
marks = 75

if marks >= 60:
    print("Pass")

Pass

In [15]:
marks = 55
if marks>=60:
    print("Pass")
else:
    print("Fail")

Fail

In [20]:
marks = 67
if marks>=85:
    print("Excellent")
elif marks>=70:
    print("Good")
elif marks>=60:
    print("Average")
else:
    print("Needs improvement")

Average

In [30]:
marks = int(input("Enter your marks: "))

if marks >= 85:
    print("Excellent")
elif marks >= 70:
    print("Good")
elif marks >= 60:
    print("Average")
else:
    print("Needs improvement")

Enter your marks:  43

Needs improvement

In [33]:
sales = int(input("Enter month;y sales: "))

if sales >= 1000000:
    print("High performance")
elif sales >= 500000:
    print("Average performance")
else:
    print("Low performance")

Enter month;y sales:  7056888

High performance

In [1]:
for i in range(3):
    print("Hello, World!!!!")

Hello, World!!!!
Hello, World!!!!
Hello, World!!!!

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1, 6):
    print("Student", i)

Student 1
Student 2
Student 3
Student 4
Student 5

In [4]:
total = 0
for i in range(1, 6):
    total += i

print("Total: ", total)

Total:  15

In [6]:
i = 0
while i <= 5:
    print(i)
    i+=1

0
1
2
3
4
5

In [1]:
total = 0

for i in range(5):
    marks = int(input("Enter marks: "))
    total += marks

average = total / 5
print("Average marks: ", average)

Enter marks:  67
Enter marks:  55
Enter marks:  43
Enter marks:  88
Enter marks:  90

Average marks:  68.6