In [1]:
print("Hello Data Analytics World")

Hello Data Analytics World

In [2]:
name = "Medha"
marks = 88

print(name)
print(marks)

Medha
88

In [4]:
age = 20
height = 5.1
city = "Pune"
passed = True

print(type(age))
print(type(height))
print(type(city))
print(type(passed))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>